* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.Navbar.Brand{
  font-weight: 300;
}

.myNavBar {
  background-color: transparent;
  margin: 1rem 1.5rem;
}
.myNavLink {
  font-weight: 500;
  font-size: 1.4rem;
  color: rgb(0, 0, 0) !important;
}
.myNavLink:hover {
  color: #2e7c3b !important;
}
/* .body {
  background-color: #ffffff;
  border: 6px solid #1a168d;
  border-radius: 60px;
} */
.App {
  background: #f3ebdf;
  padding: 3rem;
  min-height: 150vh;
}
.homeSection {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
._6figs {
  color: #1a168d;
  margin-bottom: 2rem;
}
.subBtn {
  border: 0;
  border-radius: 35px;
  background: #2e7c3b;
  color: white;
  width: 20rem;
  height: 4rem;
  font-size: 1.5rem;
}
.subBtn:hover {
  background-color: #10511b;
}
.wWd {
  background-color: #f3ebdf;
  border-bottom-left-radius: 52px;
  border-bottom-right-radius: 52px;
}
.img {
  height: 200px;
  width: 200px;
}
